* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  width: auto;
  height: auto;
  background-image: url(./images/foto_luzes.jpg);
  background-repeat: no-repeat;
  background-position: center center fixed;
  

}